{{define "AGGREGATE_FACTORY" -}}
package domain
{{- template "IMPORTS" .Imports}}

func RegisterAggregateFactories(factory *cqrs.CallbackAggregateFactory) error {
	{{- range $aggregate := .Domain.Aggregates}}
	{{untitle $aggregate.Name}}AggregateFactory := func(aggregateId uuid.UUID) cqrs.AggregateRoot {
		return aggregates.New{{title $aggregate.Name}}Aggregate(aggregateId)
	}
	if err := factory.RegisterCallback({{untitle $aggregate.Name}}AggregateFactory); err != nil {
		return err
	}
{{end}}
	return nil
}
{{end}}