{{define "EVENT" -}}
package event
{{- template "IMPORTS" .Imports}}

type {{title .Event.Name}} struct {
	*cqrs.EventBase
	{{- if .Event.Attributes}}
	{{- template "OBJECT" .Event.Attributes}}
	{{- end}}
}

func (e *{{title .Event.Name}}) AggregateType() string {
	return "{{title .Event.RootAggregate.Name}}"
}

func (e *{{title .Event.Name}}) EventType() string {
	return "{{title .Event.Name}}"
}
{{end}}
