{{define "EVENT_FACTORY" -}}
package domain
{{- template "IMPORTS" .Imports}}

func RegisterEventFactory(factory *cqrs.CallbackEventFactory) error {
	{{- range $event := .Domain.AllEvents}}
	{{untitle $event.Name}}EventFactory := func(aggregateId uuid.UUID, version int) cqrs.Event {
		return &event.{{title $event.Name}}{
			EventBase: cqrs.NewEventBase(aggregateId, version),
		}
	}
	if err := factory.RegisterCallback({{untitle $event.Name}}EventFactory); err != nil {
		return err
	}
{{end}}
	return nil
}
{{end}}